task: MNIST
gpu: 2
dataset: MNIST
num_classes: 10
model: CNNMnist
malicious: 0.2

# DarkFed epoch为5
attack_epoch: 0
watermark: false
defense: "no"
attack_type: "dba"
# "no" "How_backdoor" "dct" "dba" "DarkFed"

poison_type: 1

agg: "FedAvg"
# DeepSight FedAvg FoolsGold FLShield FreqFed FndShield Rflbat krum multi_krum flame
flshield_mode: "cluster"
#"bijective" "cluster"
a: 0.5
clients: 10
epochs: 50
local_bs: 64
bs: 128
lr: 0.01
# freqfed和flshield:lr=0.001,local_bs=16 最优
momentum: 0.5
local_ep: 1

save_model: True
model_is_pretrained: False
folder_path: 'trained_model'
is_back_model: True


purification_strategy: 'reverse_expert'  # 强制使用特征解毒
pur_lr: 0.001
pur_kd_lr: 0.000001
pur_w: 0.275

origin_target: 8
aim_target: 1
test_target: 5

backdoor_clients: []
# device: "cuda:0"  # 自动检测 GPU 可用性时可忽略

# ========== 新增负蒸馏相关参数 ==========
negative_distillation: False  # 是否启用负蒸馏
negative_lambda: 0.2          # 负蒸馏强度超参数
negative_distill_epochs: 5    # 负蒸馏训练轮数
negative_lr: 0.0001            # 负蒸馏学习率
negative_optimizer: "adam"    # 负蒸馏使用的优化器 (可选 adam / sgd)
temperature: 2.0              # 负蒸馏温度超参数
